html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: #404356;
}

.machine {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.split {
    padding: 10px;
    flex-basis: 40vh;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    max-width: 90vh;
    max-height: 90vh;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.sliders {
    display: flex;
    flex-direction: column;
}

.slider {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    max-width: 500px;
}

.slider label {
    color: #eeeeee;
    flex: 1;
}

.slider input {
    flex: 8;
}

.buttons button {
    color: #000;
    background-color: #1f7a8c;
    border-radius: 100%;
    border: 2px solid #022b3a;
    width: 4em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.buttons button:hover {
    background-color: #238ba0;
}

.buttons button:active {
    background-color: #1c7182;
}

.sourceBox,
.inputBox {
    flex: 1;
    margin: 0px;
    background-color: #7b80a0;
    padding: 10px;
}

.sourceBox, .inputBox textarea {
    background-color: #7b80a0;
    color: #111111;
    font-family: monospace;
    font-size: 28px;
    word-break: break-all;
}

.inputBox textarea {
    border: none;
    resize: none;
    width: 100%;
}

.sourceBox pre {
    margin: 0;
}

.bitmap {
    width: 100%;
    line-height: 0;
}

.pixel {
    display: inline-block;
    width: 10%;
    padding-bottom: 10%;
}

.pointer {
    background-color: lightgray;
}
