html, body, #root {
    margin: 0;
}

body {
    background-color: #424242;
    font-family: sans;
}

.machine {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.split {
    padding: 10px;
    flex-basis: 40vh;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    max-width: 95vh;
    max-height: 95vh;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.sliders {
    display: flex;
    flex-direction: column;
}

.slider {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    /* max-width: 500px; */
}

.slider label {
    color: #eeeeee;
    flex: 1;
    min-width: 5.5em;
    font-size: 2em;
}

.slider label #speed {
    font-size: 1.1em;
}

.slider input {
    flex: 8;
}

.buttons button {
    color: #fff;
    background-color: #33691e;
    border-radius: 2em;
    border: 2px solid #022b3a;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 2em;
}

.buttons button>span {
    padding-right: 0.5em;
    font-weight: 600;
}

.buttonIconBox {
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button:hover {
    background-color: #428427;
}

.buttons button:active {
    background-color: #2a531a;
}

.buttons button:disabled {
    background-color: #9d9d9d;
}

.sourceBox,
.inputBox {
    flex: 1;
    margin: 0px;
    background-color: #bcbcbc;
    padding: 10px;
}

.sourceBox, .inputBox textarea {
    background-color: #bcbcbc;
    color: #111111;
    font-family: monospace;
    font-size: 28px;
    word-break: break-all;
}

.inputBox textarea {
    padding: 0;
    border: none;
    resize: none;
    width: 100%;
    height: 100%;
}

.sourceBox pre {
    margin: 0;
    white-space: pre-wrap;
}

.bitmap {
    width: 100%;
    line-height: 0;
}

.pixel {
    display: inline-block;
    width: 10%;
    padding-bottom: 10%;
}

.pointer {
    background-color: lightgray;
}

#explanation {
    max-width: 65em;
    margin: auto;
    background-color: #eeeeee;
    padding: 1em;
    border-radius: 1em;
}

#explanation code {
    background-color: #bcbcbc;
    padding: 0.2em;
    border-radius: 0.2em;
}

#explanation section .bunch {
    display: inline;
}

#explanation section {
    margin-top: 16px;
    margin-bottom: 16px;
}

#explanation a {
    color: #33691e;
}

#explanation a:hover {
    color: #428427;
}

#explanation a:active {
    color: #2a531a;
}

footer {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;
}

footer p {
    color: #eeeeee;
    width: max-content;
    margin: auto;
}

a {
    color: #b2ff59;
}

a:hover {
    color: #c8ff89;
}

a:active {
    color: #83bd3f;
}


table {
  border-collapse: collapse;
  margin: 1em;
}

thead {
  border-bottom: 0.15em #bcbcbc solid;
  text-align: left;
  background-color: #33691e;
  color: #ffffff;
  
}

th, td {
  padding: 0.2em;
}

tr td:first-child {
  text-align: center;
}

