html, body, #root {
    height: 100%;
    width: 100%;
}

body {
    background-color: #f7f7f7;
}

.machine {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.split {
    flex-grow: 1;
}

.sourceBox,
.inputBox {
    font-family: monospace;
    font-size: 18px;
}

.bitmap {
    width: 100%;
    line-height: 0;
}

.pixel {
    display: inline-block;
    width: 10%;
    padding-bottom: 10%;
}

.pointer {
    background-color: lightgray;
}
